﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h5>
                To search, any combination of the Old Company (Org), Department, and Account Number fields is acceptable. However, if searching using Dept number only, the Old Company (Org) field is required. <br /><br />
                Do not key in leading zeros on company (org) and department number.
            </h5>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <input type="text" class="form-control space" id="OrgId" placeholder="Old Company Number (Org Id)" onblur="EnableDept();" />
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control space" id="DeptId" placeholder="Old Department Number" />
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control space" id="AcctId" placeholder="Old Account Number" />
        </div>
        <div class="col-md-3">
            <button type="submit" id="Search" class="btn btn-success">Search</button>
            <button type="submit" id="Reset" class="btn btn-warning">Reset</button>
        </div>
    </div>
</div>
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Old Company (Org)</th>
                        <th>Old Org Desc</th>
                        <th>Old Dept</th>
                        <th>Old Dept Desc</th>
                        <th>Old Account</th>
                        <th>Old Account Desc</th>
                        <th>Old Account Code</th>
                        <th>New Company (Org)</th>
                        <th>New Company (Org) Desc</th>
                        <th>New Dept</th>
                        <th>New Dept Desc</th>
                        <th>New Account</th>
                        <th>New Account Desc</th>
                        <th>New Account Code</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>